@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Fira Code";
  src: url(../fonts/FiraCode-VariableFont.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

:root {
  --active: #7cf5ff;
  --white: #e2e8f0;
  --black: #111111;
  --background: #0b192c;
  --text-color: #94a3b8;
  --resume-header-color: #024CAA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  font-variation-settings: normal;
  scroll-behavior: smooth;
  color: var(--text-color);

  &::selection {
    background-color: var(--active);
    color: var(--black);
  }
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--background);
}

a {
  text-decoration: none;
}