body {
  background-color: var(--white);
}

.container {
  background-color: var(--white);
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  display: flex;
  padding: 3rem 2rem;

  main {
    height: 100%;
    flex-basis: 75%;

    & > section {
      max-width: 90%;
    }

    section#header {
      h1 {
        font-family: "Fira Code", Courier, monospace;
        font-size: 2rem;
        line-height: 1;
        font-weight: 900;
        color: var(--resume-header-color);
      }

      h2 {
        font-size: 1rem;
        line-height: 1.3;
        font-weight: 200;
        margin: 0.5rem 0;
        color: var(--background);
        max-width: 80%;
      }
    }

    & > #experience {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      h1 {
        color: var(--resume-header-color);
        font-size: 12px;
        font-weight: 600;
        margin-bottom: .5rem;
      }

      h3 {
        color: var(--background);
        font-size: 11px;
        font-weight: 500;
        margin-top: 0.2rem;
      }

      p {
        color: var(--background);
        font-size: 10px;
        font-weight: 300;
      }

      span {
        color: var(--background);
        font-size: 12px;
        font-weight: 500;
      }

      i {
        color: var(--background);
        font-size: 10px;
        font-weight: 200;
      }

      ul {
        margin-left: 2rem;
        margin-top: .5rem;
        margin-bottom: .5rem;

        li {
          color: var(--background);
          font-size: 11px;
          font-weight: 300;
        }
      }
    }
  }

  aside {
    height: 100%;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > #contact {
      width: 100%;
      display: flex;
      flex-direction: column;

      a,
      span {
        color: var(--background);
        font-weight: 300;
        font-size: 10px;
      }

      a {
        text-decoration: underline;
        color: var(--resume-header-color);
      }
    }

    & > #skills,
    & > #education,
    & > #language,
    & > #interest {
      width: 100%;
      display: flex;
      flex-direction: column;

      h1 {
        color: var(--resume-header-color);
        font-size: 12px;
        font-weight: 600;
      }

      h3 {
        color: var(--background);
        font-size: 11px;
        font-weight: 500;
        margin-top: 0.2rem;
      }

      p {
        color: var(--background);
        font-size: 10px;
        font-weight: 300;
      }
    }
  }
}
