body {
  background-color: var(--white);
}

.container {
  background-color: var(--white);
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  display: flex;
  padding: 3rem 2rem;

  main {
    height: 100%;
    flex-basis: 75%;

    & > section {
      max-width: 90%;
    }

    section#header {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1rem;

      .subheader {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        align-items: center;

        img {
          border-radius: 50%;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          object-fit: cover;
          transform: scale(1.05);
          filter: brightness(1.1) saturate(1.2);
          transition: transform 0.3s ease, filter 0.3s ease;
        }

        h1 {
          font-family: "Fira Code", Courier, monospace;
          font-size: 2rem;
          line-height: 1;
          font-weight: 900;
          color: var(--resume-header-color);
        }
      }

      h2 {
        font-size: 1rem;
        line-height: 1.3;
        font-weight: 200;
        margin: 0.5rem 0;
        color: var(--background);
        max-width: 80%;
      }
    }

    & > #experience {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      h1 {
        color: var(--resume-header-color);
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      h3 {
        color: var(--background);
        font-size: 11px;
        font-weight: 500;
        margin-top: 0.2rem;
      }

      p {
        color: var(--background);
        font-size: 10px;
        font-weight: 300;
      }

      span {
        color: var(--background);
        font-size: 12px;
        font-weight: 500;
      }

      i {
        color: var(--background);
        font-size: 10px;
        font-weight: 200;
      }

      ul {
        margin-left: 2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        li {
          color: var(--background);
          font-size: 11px;
          font-weight: 300;
        }
      }
    }
  }

  aside {
    height: 100%;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > #contact {
      width: 100%;
      display: flex;
      flex-direction: column;

      a,
      span {
        color: var(--background);
        font-weight: 300;
        font-size: 10px;
      }

      a {
        text-decoration: underline;
        color: var(--resume-header-color);
      }
    }

    & > #skills,
    & > #education,
    & > #language,
    & > #interest {
      width: 100%;
      display: flex;
      flex-direction: column;

      h1 {
        color: var(--resume-header-color);
        font-size: 12px;
        font-weight: 600;
      }

      h3 {
        color: var(--background);
        font-size: 11px;
        font-weight: 500;
        margin-top: 0.2rem;
      }

      p {
        color: var(--background);
        font-size: 10px;
        font-weight: 300;
      }
    }
  }
}
